.chat {
    grid-area: chat;
    border-top: 0;
    border-left: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.connection {
    display: flex;
    align-items: center;
}

.location {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
}

.location :nth-child(2) {
    text-align: end;
}

a[target="yumeWiki"] {
    color: white;
    text-decoration-color: #0000EE;
}

a[target="yumeWiki"]:visited {
    text-decoration-color: #551A8B;
}

a[target="yumeWiki"]:active {
    text-decoration-color: #FF0000;
}