.tabs {
    display: flex;
    margin-bottom: -8px;
}

.tabs label:hover {
    --pop-out-scale: 1.1;
}

.tabs label:has(input:checked) {
    z-index: 1;
    margin-bottom: -8px;
    border-bottom: 0;
}

.tabs span {
    display: inline-block;
}

.tabs input {
    display: none;
}

.panes {
    display: contents;
}

.panes>*>* {
    display: none;
}

.panes[data-selected="Chat"]>*>:nth-child(1) {
    display: contents;
}

.panes[data-selected="Players"]>*>:nth-child(2) {
    display: contents;
}

.panes[data-selected="Parties"]>*>:nth-child(3) {
    display: contents;
}