.label:hover {
    --pop-out-scale: 1.1;
}

.label:has(input:checked) {
    z-index: 1;
    margin-bottom: -8px;
    border-bottom: 0;
}

.label span {
    display: inline-block;
}

.label input {
    display: none;
}

.tab-content {
    grid-row: 2;
    grid-column: 1 / -1;
    display: none;
    flex-direction: column;
}

.label:has(input:checked)+.tab-content {
    display: flex;
}