:root {
    --adaptive-scale: 2;
}

@media screen and (min-width: 1346px) and (min-height: 904px) {
    :root {
        --adaptive-scale: 3;
    }
}

@media screen and (min-width: 1666px) and (min-height: 1144px) {
    :root {
        --adaptive-scale: 4;
    }
}

@media screen and (min-width: 1986px) and (min-height: 1384px) {
    :root {
        --adaptive-scale: 5;
    }
}

body.game {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 16px;
    font-family: sans-serif;
    color: white;

    background: linear-gradient(to bottom,
            rgb(0 0 0 / 32.5%),
            rgb(0 0 0 / 32.5%) calc(100% - 150px),
            black), url("https://ynoproject.net/2kki/images/ui/2kki/system1/containerbg.png");
    background-size: 210px;
    background-position-y: 0, calc(-16px - var(--scroll) * 25%);
    background-attachment: fixed;
    image-rendering: pixelated;

    /* Chrome only. Firefox needs JavaScript emulation. */
    animation: scroll-progress linear;
    animation-timeline: scroll(root);
}

@property --scroll {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@keyframes scroll-progress {
    from {
        --scroll: 0;
    }

    to {
        --scroll: 1;
    }
}

.layout {
    display: grid;
    grid-template-areas:
        "header header"
        "game   chat  ";
    grid-template-columns: 1fr minmax(284px, 604px);
    padding: 8px;
}

.layout>* {
    border: solid 12px;
    border-image: url("https://ynoproject.net/2kki/images/ui/2kki/system1/border.png") 10 repeat;
    border-image-slice: 4 fill;
    padding: 12px;
}

.game-window {
    grid-area: game;
    border-top: 0;
}

iframe.player {
    border: 0;
    width: calc(320px * var(--adaptive-scale));
    height: calc(240px * var(--adaptive-scale));
}

.chat {
    grid-area: chat;
    border-top: 0;
    border-left: 0;
    display: flex;
    flex-direction: column;
}