:root {
    --pop-out-transition: transform 0.125s cubic-bezier(0.7, 0, 0.7, 1.5)
}

body.game {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 16px;
    font-family: sans-serif;
    color: white;

    background: linear-gradient(to bottom,
            rgb(0 0 0 / 32.5%),
            rgb(0 0 0 / 32.5%) calc(100% - 150px),
            black), url("https://ynoproject.net/2kki/images/ui/2kki/system1/containerbg.png");
    background-size: 210px;
    background-position-y: 0, calc(-16px - var(--scroll) * 25%);
    background-attachment: fixed;
    image-rendering: pixelated;

    /* Chrome only. Firefox needs JavaScript emulation. */
    animation: scroll-progress linear;
    animation-timeline: scroll(root);
}

@property --scroll {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@keyframes scroll-progress {
    from {
        --scroll: 0;
    }

    to {
        --scroll: 1;
    }
}

button svg,
:global(.clickable) {
    transition: var(--pop-out-transition);
}

button:hover svg,
:global(.clickable):hover {
    transform: scale(1.25);
}

.layout {
    display: grid;
    grid-template-areas:
        "header header"
        "game   chat  ";
    grid-template-columns: 1fr minmax(320px, 640px);
    padding: 8px;
}

.layout>* {
    border: solid 12px;
    border-image: url("https://ynoproject.net/2kki/images/ui/2kki/system1/border.png") 4 repeat;
    padding: 12px;
}