.controls {
    display: none;
    position: fixed;
    bottom: 50px;
    height: 300px;
    width: calc(100% - 100px);
    justify-content: space-between;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    opacity: 0.3;
}

@media (hover: none) and (pointer: coarse) {

    body:has(iframe:global(.focused)) .controls,
    .controls:focus-within {
        display: flex;
    }
}

.left {
    width: 300px;
    display: grid;
    grid-template-areas:
        ". w ."
        "a c d"
        ". s .";
}

.right {
    width: 300px;
    display: grid;
    grid-template-areas:
        ". z z z"
        "x o n t"
        "x f i r"
        "x g e k";
    grid-template-rows: 150px repeat(3, 50px);
    grid-template-columns: 150px repeat(3, 50px);
}

.right :nth-child(n+3) {
    width: 40px;
    margin: 5px;
}

.controls>*>*>* {
    grid-area: var(--k);
    pointer-events: all;
    background-color: pink;
}

.controls>*>*>*:active {
    background-color: hotpink;
}