.reconnect {
    background: 0;
    border: 0;
    margin-right: 4px;
}

.reconnect svg {
    width: 12px;
    height: 12px;
    fill: white;
}

.reconnect:global(.connecting) path:first-child {
    fill: orange;
}

.reconnect:global(.connected) path:first-child {
    fill: lime;
}

.reconnect:not(:global(.connecting)):not(:global(.connected)) path:first-child {
    fill: red;
}

.reconnect:global(.room-connecting) path:nth-child(2) {
    fill: orange;
}

.reconnect:global(.room-connected) path:nth-child(2) {
    fill: lime;
}

.reconnect:not(:global(.room-connecting)):not(:global(.room-connected)) path:nth-child(2) {
    fill: red;
}