:root {
    --adaptive-scale: 2;
}

@media screen and (min-width: 1346px) and (min-height: 904px) {
    :root {
        --adaptive-scale: 3;
    }
}

@media screen and (min-width: 1666px) and (min-height: 1144px) {
    :root {
        --adaptive-scale: 4;
    }
}

@media screen and (min-width: 1986px) and (min-height: 1384px) {
    :root {
        --adaptive-scale: 5;
    }
}

.game-window {
    grid-area: game;
    border-top: 0;
}

.player {
    border: 0;
    width: calc(320px * var(--adaptive-scale));
    height: calc(240px * var(--adaptive-scale));
}