:root {
    --adaptive-scale: 2;
}

@media screen and (min-width: 1328px) and (min-height: 908px) {
    :root {
        --adaptive-scale: 3;
    }
}

@media screen and (min-width: 1648px) and (min-height: 1148px) {
    :root {
        --adaptive-scale: 4;
    }
}

@media screen and (min-width: 1968px) and (min-height: 1388px) {
    :root {
        --adaptive-scale: 5;
    }
}

.game-window {
    grid-area: game;
    border-top: 0;
}

.player {
    border: 0;
    width: calc(320px * var(--adaptive-scale));
    height: calc(240px * var(--adaptive-scale));
}