body.game {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(to bottom,
            rgb(0 0 0 / 32.5%),
            rgb(0 0 0 / 32.5%) calc(100% - 150px),
            black), url("https://ynoproject.net/2kki/images/ui/2kki/system1/containerbg.png");
    background-size: 210px;
    background-position-y: 0, calc(-16px - var(--scroll) * 25%);
    background-attachment: fixed;
    image-rendering: pixelated;

    /* Chrome only. Firefox needs JavaScript emulation. */
    animation: scroll-progress linear;
    animation-timeline: scroll(root);
}

@property --scroll {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@keyframes scroll-progress {
    from {
        --scroll: 0;
    }

    to {
        --scroll: 1;
    }
}

.horizontal-box {
    padding: 8px;
}

.border {
    border: solid 24px;
    border-image: url("https://ynoproject.net/2kki/images/ui/2kki/system1/border.png") 10 repeat;
    border-image-width: 2;
    border-width: 12px;
}

.header {
    padding: 6px 12px;
}

.main {
    display: flex;
}

.canvas_iframe {
    padding: 12px;
    border-top: 0;
}

.chat {
    padding: 12px 12px 12px 14px;
    border-top: 0;
    border-left: 0;
}

@media (min-width: 800px) and (min-height: 600px) {}