[package]
name = "common"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
postcard = { version = "1.1.3", features = ["alloc"], default-features = false }
serde.workspace = true
web-sys.workspace = true
