.controls {
    height: 32px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}

.controls div {
    display: flex;
    gap: 8px;
    align-items: center;
}

.controls button {
    background: 0;
    border: 0;
    cursor: pointer;
}

.controls button svg:hover {
    transform: scale(1.25);
}

.controls button:not(:global(.stricken)) path:nth-child(2) {
    display: none;
}

.controls svg {
    width: 24px;
    height: 28px;
    padding: 1px 1px 1px 4px;
    stroke: white;
}

.right {
    flex-direction: row-reverse;
}