.expeds-header {
    font-size: 32px;
    margin: 20px 0;
    text-align: center;
}

.header {
    font-size: 18px;
    margin: 18px 0;
}

.location,
.vm {
    display: grid;
    grid-template-columns: 1fr min-content 72px 38px;
    width: 470px;
    border: solid 4px;
    border-image: var(--ui-theme-border);
    padding: 1px;
}

.location {
    grid-template-areas:
        "title available experience checkbox"
        "stars ends-at   experience checkbox";
}

.vm {
    grid-template-areas:
        "image available experience checkbox"
        "image ends-at   experience checkbox";
}

.location a {
    grid-area: title;
    width: min-content;
    white-space: nowrap;
}

.vm img {
    grid-area: image;
    border: solid 6px;
    border-image: var(--ui-theme-border);
}

.stars {
    grid-area: stars;
}

.available {
    grid-area: available;
    text-align: right;
    align-self: end;
}

.ends-at {
    grid-area: ends-at;
    white-space: nowrap;
}

.experience {
    grid-area: experience;
    text-align: center;
    line-height: 38px;
    align-self: center;
}

.checkbox {
    grid-area: checkbox;
    padding: 4px 6px;
    border: 6px solid;
    border-image: var(--ui-theme-border);
    height: 18px;
    align-self: center;
}

.checkbox:global(.toggled)::after {
    content: "✔";
}