.filters {
    display: flex;
    gap: 2px;
}

.filters label {
    border: solid 4px;
    border-image: url("https://ynoproject.net/2kki/images/ui/2kki/system1/border.png") 4 repeat;
    user-select: none;
    color: red;
}

.filters label:has(input:checked) {
    color: lime;
}

.filters input {
    display: none;
}