.filters {
    display: flex;
    gap: 2px;
}

.filters label {
    border: solid 4px;
    border-image: var(--ui-theme-border) 4 repeat;
    user-select: none;
    color: red;
}

.filters label:has(input:checked) {
    color: lime;
}

.filters input {
    display: none;
}