.modal {
    background: url("https://ynoproject.net/2kki/images/ui/2kki/system1/containerbg.png");
    border: solid 12px;
    border-image: url("https://ynoproject.net/2kki/images/ui/2kki/system1/border.png") 4 repeat;
    padding: 12px;
    inset: 0;
    color: white;
    overflow: visible;
    outline: 0;
}

@media not (prefers-reduced-motion: reduce) {
    .modal::backdrop {
        backdrop-filter: blur(5px);
    }
}

.modal>:first-child button {
    color: white;
    position: absolute;
    top: -23px;
    right: -21px;
    width: 32px;
    border: 0;
    background: 0;
    padding: 0;
    font-size: 32px;
    line-height: 32px;
}