.header .locked {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.header :first-child {
    font-size: 32px;
}

.locked :first-child {
    font-size: 16px;
}

.locked {
    display: none;
}

:has(.controls button:disabled)>.locked {
    display: inherit;
}

.container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}

.slot {
    width: 214px;
    height: 64px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 4px;
    border-image: var(--ui-theme-border);
}

.controls {
    display: flex;
    gap: 8px;
}

.controls button {
    background: 0;
    border: 0;
    padding: 0;
}

.controls svg {
    width: 18px;
    stroke: white;
    fill: none;
}

.controls button:disabled svg {
    stroke: gray;
}