.logo {
    display: flex;
    fill: white;
    margin-left: 10px;
    margin-right: 13px;
    transition: transform 0.125s cubic-bezier(0.7, 0, 0.7, 1.5)
}

.logo:hover {
    transform: scale(1.1);
}

.logo :first-child {
    margin-right: 6px;
}

.logo:hover .closed {
    display: none;
}

.open {
    display: none;
}

.logo:hover .open {
    display: initial;
}