.logo {
    display: flex;
    fill: white;
}

.logo :nth-child(2) {
    margin-left: 6px;
    overflow: visible;
}

.logo:hover .closed {
    display: none;
}

.open {
    display: none;
}

.logo:hover .open {
    display: initial;
}