.logo {
    display: flex;
    fill: white;
    overflow: visible;
}

.logo :first-child {
    margin-right: 6px;
}

.logo:hover .closed {
    display: none;
}

.open {
    display: none;
}

.logo:hover .open {
    display: initial;
}