.header {
    grid-area: header;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 6px 12px;
    gap: 12px;
    --pop-out-scale: 1.1;
}

.middle {
    flex: 1;
}

.game_logo {
    height: 48px;
}

.project_logo,
.project_logo img {
    height: 100%;
}

.button {
    border: solid 8px;
    border-image: var(--ui-theme-border) 4 repeat;
    padding: 4px;
    background-color: rgb(45, 17, 23);
    color: white;
}