.header {
    grid-area: header;

    display: flex;
    align-items: center;
    height: 60px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.middle {
    flex: 1;
}

.game_logo {
    height: 48px;
}