body.home {
    background: url("https://ynoproject.net/images/bg.png");
    background-size: cover;
    background-attachment: fixed;
    animation: fade-in 0.5s ease forwards;
}

/* Also used by: 
 * - door.module.css
 */
@keyframes fade-in {
    from {
        opacity: var(--fade-in-opacity);
    }

    to {
        opacity: 1;
    }
}

.logo {
    display: block;
    margin: auto;
    height: 130px;
    padding: 64px 0;
    image-rendering: pixelated;

    animation: logo-animation 0.75s ease-in-out forwards;
}

@keyframes logo-animation {
    from {
        opacity: var(--fade-in-opacity);
        transform: translateY(120px)
    }

    to {
        opacity: 1;
        transform: 0
    }
}