/* Everything in this file is included for all pages
 */

:root {
    background-color: black;
    /* This is a hack to fix Chrome Lighthouse. If it is set to exactly zero
     * then the analyzer bugs out and refuses to see an LCP element and dies.
     */
    --fade-in-opacity: 0.001;
}

body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: black;
}

leptos-children,
leptos-island {
    display: contents;
}