/* Everything in this file is included for all pages
 */

@font-face {
    font-family: "PGothic";
    src: local("MS PGothic"),
        url("/yno/fonts/ms-pgothic.woff2") format("woff2"),
        url("/yno/fonts/ms-pgothic.woff") format("woff");
}

:root {
    background-color: black;
}

body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: black;
}

leptos-children,
leptos-island {
    display: contents;
}

button {
    cursor: pointer;
}

* {
    font-size: 16px;
    font-family: "PGothic", "sans-serif";
}