.author {
    display: inline-block;
    padding-inline-end: 6px;
}

.name {
    background-color: white;
    background-clip: text;
    color: transparent;
}

.badge {
    image-rendering: auto;
    height: 18.5px;
    width: 18.5px;
    margin-top: -4px;
    margin-inline-start: 2px;
    vertical-align: middle;
    user-select: none;
}