.message {
    display: flex;
    flex-direction: column;
}

.message~.message {
    border-bottom: solid 4px;
    border-image: var(--ui-theme-border) 4 repeat;
}

.message svg {
    width: 12px;
    height: 12px;
    margin: 0 2px;
    fill: white;
}

.header {
    display: flex;
}

.header :last-child {
    margin-left: auto;
}

.author {
    display: inline-block;
    padding-inline-end: 6px;
}

.badge {
    image-rendering: auto;
    height: 18.5px;
    width: 18.5px;
    margin-top: -4px;
    margin-inline-start: 2px;
    vertical-align: middle;
    user-select: none;
}