.message {
    display: flex;
    flex-direction: column;
}

.message~.message {
    border-bottom: solid 4px;
    border-image: var(--ui-theme-border) 4 repeat;
}

.message svg {
    width: 12px;
    height: 12px;
    margin: 0 2px;
    fill: white;
}

.header {
    display: flex;
}

.header :last-child {
    margin-left: auto;
}

.sending {
    color: gray;
    animation: 5s sending-message-fade linear forwards;
}

@keyframes sending-message-fade {
    80% {
        color: gray;
    }

    to {
        color: red;
    }
}