.selector {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.selector label {
    border: solid 4px;
    border-image: var(--ui-theme-border);
    padding: 8px;
    user-select: none;
    cursor: pointer;
}

.selector label:has(input:checked) {
    background-color: red;
}

.selector label input {
    display: none;
}

.categories:not(:has(>:nth-child(2))) {
    display: none;
}

.scroller {
    position: relative;
    flex: 100vh;
    overflow-y: scroll;
}

.container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container div {
    display: contents;
}

.badge {
    width: 98px;
    height: 98px;
    padding: 14px;
    margin: 22px;
}